/*  your css code here. If applicable */

.star {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 107px solid yellow;
  position: relative;
}

.star:before {
  content: '';
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 107px solid yellow;
  position: absolute;
  top: 25px;
  left: -50px;
}
